.container  
  .col-md-4.column.fill.bg-success
    %h3=t('oderdt.orderss')
    = render 'list_order_sessions'
  .col-md-4.column.fill
    %h3=t('food.store')
    = render 'list_stores'
  .col-md-4.column.fill.bg-success
    %h3=t('menu.qulogin')
    = render 'list_users'